# Custom
1-tp/todolist
admin
cours
**/corrections*
**/corrections/ex6_bis
**/corrections/ex10
**/old
**/tips.md
daily.md
backlog
**/gtm-bank*
**/calculator
demo.old
demos/v*
0-exercices/demo
node_modules
shoplist
# tests
# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*
**/.DS_Store
**/dist
**/coverage
**/*.local

**/cypress/videos/
**/cypress/screenshots/

# Editor directories and files
**/.vscode/*